* {
    margin: 0;
    padding: 0;
}

html {
    display: block;
    overflow: clip !important;
}

html::-webkit-scrollbar {
    display: none;
}

.main {
    background: linear-gradient( 90deg, #7fdd65 3.98%, #87e56e 26.6%, #97f361 54.92%, #b3f941 117.6%);
    z-index: 2;
}

.main-container {
    display: flex;
    padding: 7rem 0rem;
    justify-content: space-between;
    align-items: center;
    width: min(90%, 1200px);
    margin: auto;
    gap: 5vw;
}

.main-container>img {
    flex: 1;
    width: 55%;
}

.main-container > div {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main-container h1 {
    font-size: 2.25rem;
}

.main-container p {
    font-size: 1.5rem;
}

.class {
    background-color: #1d1534;
}

.class>svg {
    width: 100%;
}

.class>hr {
    width: min(90%, 1200px);
    margin: auto;
    border-style: solid;
    border-color: white;
    background-color: white;
    border-width: 2px;
    border-radius: 2px;
}

.class-container {
    color: white;
    display: flex;
    flex-direction: column;
    width: min(85%, 1150px);
    margin: 1rem auto auto auto;
    gap: 1.5rem;
}

.class-container>a {
    display: flex;
    justify-content: end;
    gap: 1rem;
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    font-style: italic;
    outline: none;
    margin: 1rem;
}

.class-container>div {
    margin: 0 1rem;
    display: flex;
    justify-content: space-evenly;
}

.class-container>h2 {
    margin: 0 1.5rem;
    font-size: 3rem;
    font-weight: semibold;
}

.class-card {
    width: min(90%, 450px);
    background-color: white;
    box-shadow: 0px 4px 4px rgba(152, 235, 81, 0.61);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    z-index: 2;
}

.class-card h6 {
    font-size: 1.25rem;
    color: #14142b;
    background-color: #98eb51;
    display: inline;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 5px;
}

.class-card img {
    width: 90%;
    object-fit: contain;
    height: 300px;
    margin: 2rem 0;
}

.class-card a {
    text-decoration: none;
    color: #1d1534;
    font-size: 2rem;
    border-radius: 20px;
    width: min(90%, 400px);
    text-align: center;
    background-color: #98eb51;
    padding: 0.75rem 0;
    margin: 1rem 0;
}

.map {
    background-color: #F2F0F4;
}

.map-container {
    display: flex;
    width: min(95%, 1400px);
    margin: auto;
}

.map-container h2 {
    padding: 0 0 0 7rem;
    font-size: clamp(2.25rem, 6vw, 8rem);
    white-space: nowrap;
    color: #1D1534;
}

.map-container h2::before {
    content: "Dukung !";
    position: relative;
    font-size: 0.8em;
    top: clamp(-2rem, -1.5vh, -4rem);
    left: -5rem;
    transform: rotate(-10deg);
    display: block;
    color: #55AD7A;
}

.map-container p {
    margin: 2rem 0 0 7rem;
    font-size: 1.5rem;
}

.map-container a {
    color: #1D1534;
    background-color: #98EB51;
    text-decoration: none;
    font-size: 2.5rem;
    padding: 0.4rem 2rem;
    border-radius: 0.8rem;
    margin: 5rem 7rem;
    display: block;
    width: fit-content;
}

.map-container img {
    width: 45%;
    object-fit: contain;
}